body {
    font-family: "Roboto", "system-ui";
    background-color: grey;
    margin: 0 auto;
}
/* img { */
    /* max-width: 100%; */
    /* object-fit: cover; */
/* } */

header {
    background-color: crimson;
    padding: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

section.col.one-third {
    width: calc(100%/3);
}

.navigation-title > nav > a {
    text-decoration: none;
    color: green;
    background-color: white;
    display: inline-block;
    padding: 1em;
    border-radius: 0.3em;
    /* transition animation */
    transition-duration: 250ms;
    transition-delay: 0ms;
    transition-timing-function: ease;
    align-self: stretch;
}
.navigation-title > nav > a:hover {
    background-color: black;
    color: whitesmoke;
}
#hero {
    background-image: url(/pictures/minecrafthouse1.webp);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50em;
    /* width: 100em; */
    display: flex;
    align-content: center;
    justify-content: center;
}
.content-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.content-items > .texts {
    padding: 1em;
    border-radius: 0.5em;
    background-color: white;
    width: 25%;
    height: 33%;
    display: block;
    align-self: center;
}
.content-items > .texts > aside {
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(142, 40, 4);
}
.footer {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.alt-nav {
    display: flex;
    background-color: white;
    height: fit-content;
    align-content: space-between;
    justify-content: space-around; 
    flex-direction: row;
}
.room-alt-nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.features-alt-nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.safety-alt-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.footer-1 {
    background-color: white;
    max-width: fit-content;
    width: 10em;
}

.center {
    text-align: center;
}