body {
    background-color: grey;
    margin: 0 auto;
}
header {
    background-color: crimson;
    padding: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation-title > nav > a {
    text-decoration: none;
    color: green;
    background-color: white;
    display: inline-block;
    padding: 1em;
    border-radius: 0.3em;
    /* transition animation */
    transition-duration: 250ms;
    transition-delay: 0ms;
    transition-timing-function: ease;
    align-self: stretch;
}
.navigation-title > nav > a:hover {
    background-color: black;
    color: whitesmoke;
}
#main-content {
    background-image: url(/pictures/minecrafthouse1.webp);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.content-items > .texts {
    padding: 1em;
    border-radius: 0.5em;
    background-color: white;
    width: 25%;
    height: 33%;
    display: block;
    align-self: center;
}
.content-items > .texts > aside {
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(142, 40, 4);
}
.footer {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.alt-nav {
    display: flex;
    background-color: white;
    height: fit-content;
    justify-content: space-between;
}
.alt-nav > a {
    display: flex;
}
.alt-nav > p {
    display: flex;
}
.footer-1 {
    background-color: white;
    max-width: fit-content;
    width: 10em;
}