body {
    background-color: grey;
    margin: 0 auto;
}
header {
    background-color: crimson;
    padding: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation-title > nav > a {
    text-decoration: none;
    color: green;
    background-color: white;
    display: incline-block;
    padding: 1em;
    border-radius: 0.3em;
    /* transition animation */
    transition-duration: 250ms;
    transition-property: background-color;
    transition-delay: 0ms;
    transition-timing-function: ease;
    align-self: stretch;
}
.navigation-title > nav > a:hover {
    background-color: black;
    color: whitesmoke;
}
#main-content {
    background-color: rosybrown;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-direction: row;
}
.txt {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.header {
    transform: translateX(1em);
}
.imgandtxt {
    padding: 1em;
    width: 25%;
    height: 33%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box {
    padding: 1em;
    background-color: white;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    height: 37em;
    align-items: center;
    justify-content: space-evenly;
}
.footer {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-1 {
    background-color: white;
    max-width: fit-content;
    width: 10em;
}
.center {
    text-align: center;
}
.dropdown {
    padding: 1em;
    background-color: white;
    border-radius: 0.3em;
    flex-direction: column;
    height: fit-content;
    width: 29.7em;
    display: flex;
    text-align: left;
}
.lefttext {
    text-align: left;
}